@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-pattern: url('/bg-pattern-light.svg');
}

:root[data-theme='dark'] {
  --bg-pattern: url('/bg-pattern-dark.svg');
}

body {
  font-family: Arial, Helvetica, sans-serif;

  background-color: var(--background);
  background-image: var(--bg-pattern);
  transition:
    background-color 0.3s,
    color 0.3s;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  :root[data-theme='dark'] {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer stack-components {
  .orchestrator {
    --border: 220 60% 85%;
    --background: 220 100% 97%;
  }
  .artifact_store {
    --border: 140 50% 80%;
    --background: 140 100% 94%;
  }
  .container_registry {
    --border: 200 70% 80%;
    --background: 200 100% 95%;
  }

  .data_validator {
    --border: 40 70% 80%;
    --background: 40 100% 94%;
  }

  .experiment_tracker {
    --border: 290 60% 85%;
    --background: 290 100% 97%;
  }

  .model_deployer {
    --border: 10 80% 85%;
    --background: 10 100% 95%;
  }

  .step_operator {
    --border: 180 60% 80%;
    --background: 180 100% 95%;
  }

  .alerter {
    --border: 350 70% 80%;
    --background: 350 100% 95%;
  }

  .image_builder {
    --border: 50 70% 80%;
    --background: 50 100% 95%;
  }

  .annotator {
    --border: 290 60% 80%;
    --background: 290 100% 95%;
  }

  .model_registry {
    --border: 210 60% 80%;
    --background: 210 100% 95%;
  }

  .feature_store {
    --border: 140 60% 80%;
    --background: 140 100% 95%;
  }
  .secrets_manager {
    --border: 190 60% 70%;
    --background: 190 100% 92%;
  }

  :root[data-theme='dark'] .orchestrator {
    --border: 220 60% 50%;
    --background: 220 60% 15%;
  }
  :root[data-theme='dark'] .artifact_store {
    --border: 140 50% 45%;
    --background: 140 50% 15%;
  }
  :root[data-theme='dark'] .container_registry {
    --border: 200 60% 50%;
    --background: 200 60% 15%;
  }

  :root[data-theme='dark'] .data_validator {
    --border: 40 60% 50%;
    --background: 40 60% 15%;
  }

  :root[data-theme='dark'] .experiment_tracker {
    --border: 290 60% 50%;
    --background: 290 60% 15%;
  }

  :root[data-theme='dark'] .model_deployer {
    --border: 10 80% 50%;
    --background: 10 80% 15%;
  }

  :root[data-theme='dark'] .step_operator {
    --border: 180 60% 50%;
    --background: 180 60% 15%;
  }

  :root[data-theme='dark'] .alerter {
    --border: 350 60% 50%;
    --background: 350 60% 15%;
  }

  :root[data-theme='dark'] .image_builder {
    --border: 50 60% 50%;
    --background: 50 60% 15%;
  }

  :root[data-theme='dark'] .annotator {
    --border: 290 60% 50%;
    --background: 290 60% 15%;
  }

  :root[data-theme='dark'] .model_registry {
    --border: 210 60% 50%;
    --background: 210 60% 15%;
  }

  :root[data-theme='dark'] .feature_store {
    --border: 140 60% 50%;
    --background: 140 60% 15%;
  }
  :root[data-theme='dark'] .secrets_manager {
    --border: 190 60% 50%;
    --background: 190 60% 20%;
  }
}
