@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --bg-pattern: url('/bg-pattern-light.svg');
}

:root[data-theme='dark'] {
  --background: #0a0a0a;
  --foreground: #ededed;
  --bg-pattern: url('/bg-pattern-dark.svg');
}

body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;

  background-color: var(--background);
  background-image: var(--bg-pattern);
  transition:
    background-color 0.3s,
    color 0.3s;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
